<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaft.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaft/layout"
	layout:decorate="~{layout/LayoutPadrao}"
	xmlns:brewer="http://brewer.algaworks.com">
<head>
	<title>Cadastro de cidade</title>
	<link rel="stylesheet" type="text/css" th:href="@{/stylesheets/vendors/bootstrap-switch.min.css}" />
</head>
<body>
	<section layout:fragment="conteudo">
		<div class="page-header">
			<div class="container-fluid">
				<h1>Cadastro de cidade</h1>
			</div>
		</div>

		<div class="container-fluid">
			<form method="POST" th:object="${cidade}" class="form-vertical  js-form-loading" th:action="@{/cidades/novo}">
			
				<brewer:message/>

				<div class="row">
					<div class="col-sm-4 form-group  bw-required">
						<label for="estado">Estado</label>
						
						<div class="bw-field-action"> 
							<select id="estado" class="form-control" th:field="*{estado}">
								<option value="">Selecione o estado</option>
								<option th:each="estado : ${estados}" th:value="${estado.codigo}" th:text="${estado.nome}">São Paulo</option>
							</select>
						</div>
					</div>
				
					<div class="col-sm-8 form-group bw-required">
						<label for="nome">Nome</label> 
						<input id="nome" type="text" class="form-control" th:field="*{nome}"/>
					</div>
				</div>

				<div class="form-group">
					<button class="btn  btn-primary" type="submit">Salvar</button>
				</div>
			</form>
		</div>
	</section>
	
	<th:block layout:fragment="javascript-extra">
		<script th:src="@{/javascripts/vendors/bootstrap-switch.min.js}"></script>
		<script>
			$('.js-status').bootstrapSwitch();
		</script>
	</th:block>
</body>
</html>